#topBunImage {
    width: 80px;
    height: 64px;
    position:relative;
    left:35px;
}

#bottomBunImage {
    width: 80px;
    height: 64px;
    position:relative;
    left:35px;
}

#toppingImage {
    width: 80px;
    height: 64px;
}

#vegetableImage {
    width: 80px;
    height: 64px;
}

#sauceImage {
    width: 80px;
    height: 64px;
}

#meatImage {
    width: 80px;
    height: 64px;
}

#customerImage {
    width: 125px;
    height: 250px;
    position: relative;
    left: 20px;
    bottom: 100px;
}

#counterImage {
    width: 350px;
    height: 200px;
    position: relative;
    right: 150px;
    bottom: 50px;
    
}

#speechBubble {
    width: 250px;
    height: 150px;
    position: relative;
    right: 200px;
    top: 50px;
}

#nextTopping {
    position:relative;
    bottom:30px;
}

#nextVegetable {
    position:relative;
    bottom:30px;
}

#nextSauce {
    position:relative;
    bottom:30px;
}

#nextMeat {
    position:relative;
    bottom:30px;
}

#prevTopping {
    position:relative;
    bottom:30px;
}

#prevVegetable {
    position:relative;
    bottom:30px;
}

#prevSauce {
    position:relative;
    bottom:30px;
}

#prevMeat {
    position:relative;
    bottom:30px;
}

#serve {
    z-index: 3;
    position: relative;
    bottom: 150px;
}

#customerText {
    position: relative;
    bottom: 60px;
    right: 170px;
    width: 180px;
    height: 100px;
    word-wrap: normal;
    text-align: center;
}

#score {
    float: left;
    position: relative;
    right: 40px;
    bottom: 40px;
    width: 80px;
}

#traversals {
    float: left;
    position: relative;
    right: 120px;
    bottom: 20px;
}

#background {
    display: flex;
    justify-content: center;
}

#customer {
    width: 35%;
}

#burger {
    margin-top: 50px;
    margin-left: -30px;
}

#counterImage {
    z-index: 2;
    margin-top: -200px;
    margin-left: 100px;
}